@import url('grid.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --primry-color: #02897A;
  --secondry-color:  #22343D;
  --third-color: #FFFFFF;
  --fourth-color:#4D8DFF;
  --fifth-color: #740A76;
  --sixth-color: #F03E3D;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.grid > [class*="column-"] {
  padding:0 16px;
}
body {
  font-family: 'Poppins', sans-serif;
  color: var(--secondry-color);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  -webkit-transition: color .2s ease;
  transition:  color .2s ease;
  color: #575f62;
}
ul {
  list-style: none;
}
h1, h2, h3 {
  line-height: 1.1;
}
h1 {
  position: relative;
  margin: 0 0 1.5rem;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}
h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin: 1rem 0 1.5rem;
}
h3 {
  font-weight: 600;
  font-size: 17px;
  line-height: 34px;
}
h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
}
p {
  margin: 0 0 1.5rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--secondry-color);
}
.row {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
}
button {
  display: none;
}
.border {
  border: 1px solid;
}
.nav-items {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 0;
}
.logo-d {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
}
.logo-d img {
  padding-right: 15px;
}
.navbar {
  font-weight: 600;
  font-size: 15px;
  line-height: 39px;
  color: #43535c;
  position: relative;
  left: 100px;
}
.navbar .nav-list .nav-item {
  padding-right: 24px;
}
.navbar .nav-list .nav-item:hover a, .activ  {
  color: black;
}
.btn {
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  padding: 12px 24px;
  margin-right: 24px;
  display: inline-block;
}
.active-btn {
  background: var(--primry-color);
  color: var(--third-color);
}
.active-btn a {
  color: var(--third-color);
}
.colo-btn {
  background: var(--third-color) ;
}
.colo-btn a {
  color:#02897A;
}
.navbar .img img {
  position: relative;
  top: 7px;
}

/* price-table */
#price-table {
  height: 589px;
  margin-top: 50px;
  text-align: center;
}
#price-table .price-table-box h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 70px;  
}
#price-table .price-table-box {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  height: 456px;
}
#price-table .price-table-box .table {
  margin: 20px auto;
  padding-left: 30%;
}
#price-table .price-table-box p {
  line-height: 18px;
}
#price-table .price-table-box .table .number {
  font-weight: 700;
  font-size: 79px;
  line-height: 100px;
}
#price-table .price-table-box .table .month {
  text-align: left;
  padding-left: 15px;
}
#price-table .price-table-box .table .month h4 {
  padding-top: 5px;
}
#price-table .price-table-box .table .month p {
  top: -18px;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1px;
  color: #AFAFAF;
}
#price-table .price-table-btn {
  padding-left: 20px;
}
.white a {
  color: var(--third-color);
}
#price-table .price-table-box.active-box {
  background-color: var(--primry-color);
  color: var(--third-color);
}
#price-table .price-table-box.active-box .act-table-btn {
  color: var(--primry-color);
  background-color: var(--third-color);
}
#price-table .price-table-box.active-box .p-color {
  line-height: 18px;
  color: var(--third-color);
}

 /* enterprise */
#enterprise {
  text-align: center;
  margin-top: 150px;
  padding: 53px 0;
}

/* product */
#product {
  margin-top: 150px;
  height: 537px;
}
#product h2 {
  text-align: center;
  padding-bottom: 50px;
}
#product .product-box h3 {
  margin: auto 0 auto 10px;
}
#product .product-box p {
  margin-top: 17px;
}

/* question */
#question {
  width: 920px;
  height: 468px;
  margin: 150px auto 0 auto;
}
#question .question-content {
  padding-bottom: 20px;
  text-align: center;
}
#question .bot-border {
  border-bottom: 1px solid #E7E7E7;
  width: 100%;
  padding: 12px 0;
}

/* join */
.join {
  background: var(--primry-color);
  color: var(--third-color);
  height: 345px;
  border-radius: 32px;
  padding: 51px;
  width: 968px;
  margin: 150px auto 0 auto;
}
.join .join-imgs {
  position: relative;
}
.join .join-imgs img {
  position: absolute;
  top: -40px;
  right: -65px;
}
.join .act-join-btn {
  background: var(--third-color);
  color: var(--primry-color);
}

/* footer */
footer {
  height: 250px;
  margin-top: 140px;
  margin-bottom: 40px;
}
footer .logo-list .logo-item {
  height: 40px;
  width: 40px;
  background-color: #EDFFFC;
  margin-right: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
footer p {
  font-size: 16px;
  line-height: 11px;
}
footer h4 {
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 21px;
}
footer .button {
  padding: 20px;
  margin: 15px 0;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
}
footer .last-f {
  color: #22343D;
  text-align: center;
  margin: 24px 0;
  font-size: 15px;
}
@media only screen and (max-width:576px) {
  .container {
    max-width: 480px;
  }
  .nav-items {
    border-bottom: 1px solid #BCD0E5;
  }
  .nav .navbar {
    display: none;
  }
  button {
    border: none;
    margin: 5px;
    top: 5px;
    display: flex;
    flex-flow: row;
    position: relative;
    background: none;
    cursor: pointer;
  }
  .nav button:focus + .navbar {
    top: 50px;
    left: 246px;
    position: absolute;
    display: flex;
    width: 200px;
    height: 400px;
    border: 1px solid;
    z-index: 20;
    justify-content: center;
    background-color: var(--secondry-color);
    align-items: center;
    text-align: center;
  }

   button:focus + .navbar a {
    color: white;
  }
  .nav button:focus + .navbar ul {
    display: block;
  }
  .nav button:focus + .navbar ul li:hover a, .activ{
    color: #AFAFAF;
    transition: color .2s ease;
  }
  button:focus + .navbar .sign .buttons ul li {
    display: block;
    margin: 20px;
  }
  /* price-table */
  #price-table {
    height: 1639px;
    margin-top: 50px;
    text-align: center;
  }
  #price-table .price-table-box {
    margin-bottom: 30px;
  }  

  /* enterprise */
  #enterprise {
    margin-top: 50px;
  }

  /* product */
  #product {
    margin-top: 50px;
    height: 997px;
  }
  #product .product-img img {
    width: 100%;
  }
  #product .product-box {
    padding: 20px;
    text-align: left;
  }
  #product .product-box img {
    width: 65px;
  }
  #product .product-box h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }

  /* question */
  #question {
    width: 400px;
    height: 669px;
    margin: 150px auto 0 auto;
    padding: 0;
  }
  #question .question-content {
    padding-bottom: 20px;
    text-align: center;
  }
  #question .bot-border {
    border-bottom: 1px solid #E7E7E7;
    width: 100%;
    padding: 12px 0;
  }
  
  .join {
    width: 370px;
    height: 708px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  .join .join-imgs img {
    position: relative;
    top: 20px;
    left: -65px;
  }

  /* footer */
  footer {
    height: 740px;
    margin-top: 140px;
    margin-bottom: 40px;
    text-align: center;
  }
  footer .logo-list, .column-xs-12, .last-f {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  footer .logo-d {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  footer p a {
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
  }

}